<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.letterboxed.collectwords</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/alexrosenthal/opt/anaconda3/bin/python3</string>
        <string>/Users/alexrosenthal/LetterBoxedSolver/src/collect_lb_words.py</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>1</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
</dict>
</plist>


